* {
    margin: 0;
    padding: 0;
}

.main {
    flex: 1;
    background-color: #73bfe271;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbarInfo {
    background-color: #6fcce4;
    color: rgb(8, 69, 238)
}

hr {
    height: 8px;
    background-color: rgb(4, 16, 83);
}

#alerta {
    border: 2px solid #3376bd;
    border-radius: 10px;
    font-size:larger;
}

.footer {
    background-color: #4190b771;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}