* {
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
}

.titulo {
    text-align: center;       
    padding: 20px;           
    font-size: 30px;          
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1a657c;                      
}

hr {
  height: 5px;
  background-color: black;
}
